<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pansong.p"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="11" />

    <application
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		    <intent-filter
			    android:label="查看图片">
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="image/*" />
		    </intent-filter>
        </activity>
    </application>

	<supports-screens
	 android:smallScreens="true"
	 android:normalScreens="true"
	 android:largeScreens="true"
	 android:xlargeScreens="true"
	 android:anyDensity="true" 
	 android:resizeable="true"/>

</manifest>
